<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<head>
</head>

<body class="container">
  <div class="col-md-6.col-md-offset-3">
    <div>
      <h1>Hello
      </h1>

      <p>Please fill the form:</p>
      <hr/>
      
      <div id="form">
          <form action="/signup" method="post">
            <div class="form-group">
                <label for="form_username">Username</label>
                <input id="form_username" type="text" name="username" />
              </div>
              <div class="form-group">
                <label for="form_password">Password</label>
                <input id="form_password" type="password" name="password" />
              </div>
            <div class="form-group">
              <label for="form_value">Email</label>
              <input id="form_value" type="mail" name="mail" />
            </div>

            <button class="btn btn-primary btn-block" type="submit" value="Submit">Create User</button>
          </form>
          <hr/>

      <p>Please fill this form to delete your account:</p>
      <hr/>
      
      <div id="formdelete">
          <form action="/signup/delete" method="post">
            <div class="form-group">
                <label for="form_username">Username</label>
                <input id="form_username" type="text" name="deleteusername" />
              </div>
            <button class="btn btn-danger btn-block" type="submit" value="Submit">Delete User</button>
          </form>
      <hr/>

      <button class="btn btn-success btn-block" type="submit" onClick='document.location.href="/"'>
        Go back to main page
      </button>
    </div>
  </div>
</body>

</html>