<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<body class="container">
  <div class="col-md-6.col-md-offset-3">
    <h1>Hello
      <%= name %>
    </h1>
    
    <button class="btn btn-success" id="show-metrics">
      Bring the metrics
    </button>
    <button class="btn btn-success" id="show-metrics-user" onClick='document.location.href="/metrics/user/0" '>
        Read your metrics
      </button>
      <button class="btn btn-success" id="show-metrics-user" onClick='document.location.href="/metrics/save/0" '>
        Add/delete a metric
      </button>
    <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
      Logout
    </button>
    <div id="metrics">
    </div>
  </div>
</body>

<script>
  
  $('#show-metrics').click((e) => {
    e.preventDefault()
    $.getJSON('/metrics.json', {}, (data) => {
      const content = data.map(d => {
        return `<p>timestamp: ${d.timestamp}, value: ${d.value}</p>`
      })
      $("#metrics").append(content.join("\n"))
    })
  })
</script>

</html>