<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body class="container">
  <div class="col-md-6.col-md-offset-3">
    <div>
      <p>Here is what we have found in the user database:</p>
      <hr/>
      
      <tr>
        <td><%= data %></td>
      </tr>

      <br>
      <button class="btn btn-success btn-block" type="submit" onClick='document.location.href="/login"'>
        Go back to login
      </button>
    </div>
  </div>
</body>

</html>